
{% extends "films/baseFilms.html.twig" %}

{% block contenido %}

            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="{{ film.poster }}" class="card-img-top" alt="poster">
                    <div class="card-body">
                        <h2 class="card-text">{{ film.title }}</h2>
                    </div>
                </div>
                <div>
                    <div class="card" style="width: 50rem;">
                        <div class="">
                            <h2 class="">{{ film.director }}</h2>
                            <h2 class="">{{ film.mainActors }}</h2>
                            <h2 class="">Año {{ film.year }},  {{film.genres}}</h2>
                            <h4 class="">{{film.synopsis }}</h4>
                        </div>
                    </div>
                </div>
                
                        {# <div class="row">
                            <ul>
                            {% for z in  film.stars %}
                             <h5>Cah2ficación {{z.stars}}</h5>
                             {% endfor %}
                            </ul>
                        </div> #}
            </div>

{% endblock %}            
