{% extends "films/baseFilms.html.twig" %}


{% block contenido %}

{% for message in app.flashes('exito') %}
<p>{{ message }}</p>
{% endfor %}

<h2>Pisos en alquiler en Barcelona </h2>
    <div class="row row-cols-1 row-cols-md-2">
        {# PARA CADA PELI #}
        {% for piso in pisos %}
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{film.poster}}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{film.title}}</h3>
                        <h3 class="card-title">{{film.director}}</h3>
                        <h5 class="card-text">{{film.mainActors }}</h5>
                        <h5 class="card-text">{{film.year}}, {{film.genres}}</h5>
                        <p class="card-text">{{film.synopsis}}</p>
                        <a href="{{ path('showFilm', {'id': film.id}) }}" class="btn btn-primary">Más Info</a>

                        {% if is_granted('ROLE_ADMIN') %}                      
                        <a href="{{ path('editFilm', {'id': film.id}) }}" class="btn btn-primary">Editar</a>
                        <a href="{{ path('deleteFilm', {'id': film.id}) }}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
         {% endfor %}
    </div>

{% endblock %}            